<div class="notes">
  <div class="notes-header">
    <div class="header-button notes-header-add-button secondary-muted hover-enabled" *ngIf="!isOnHomepage()" (click)="goHome()">
      <fa-icon [icon]="leftIcon"
      ></fa-icon>
    </div>
    <div class="notes-header-text">Notes</div>
    <div class="header-button notes-header-add-button secondary-muted hover-enabled">
      <fa-icon [icon]="plusIcon"
      ></fa-icon>
    </div>
  </div>
  <div class="notes-content">
    <router-outlet></router-outlet>
  </div>
</div>
