<main class="page-default">
  <div class="signup">
    <div class="signup-top">
      <h3 class="signup-top-head">Create Account</h3>
      <p class="signup-top-sub">Welcome to UMS! Please sign up with the form below</p>
    </div>
    <div class="signup-form">
      <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <div class="signup-form-group">
          <input
            class="form-control"
            formControlName="email"
            id="email"
            placeholder="Email"
            required
            type="email"
          >
          <span *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors && signupForm.controls.email.errors.required"
                class="signup-form-error-text">
            This field is required.
          </span>
          <span *ngIf="signupForm.controls.email.touched && signupForm.controls.email.errors && signupForm.controls.email.errors.email"
                class="signup-form-error-text">
            Please provide a valid email.
          </span>
        </div>
        <div class="signup-form-group">
          <input
            class="form-control"
            formControlName="username"
            id="username"
            placeholder="Username"
            required
            type="username"
          >
          <span *ngIf="signupForm.controls.username.touched && signupForm.controls.username.errors && signupForm.controls.username.errors.required"
                class="signup-form-error-text">
            This field is required.
          </span>
          <span *ngIf="signupForm.controls.username.touched && signupForm.controls.username.errors && signupForm.controls.username.errors.minlength"
                class="signup-form-error-text">
            Username must be at least {{ signupForm.controls.username.errors.minlength.requiredLength }} characters long
          </span>
        </div>
        <div class="signup-form-group">
          <input
            class="form-control"
            formControlName="password"
            id="password"
            placeholder="Password"
            required
            type="password"
          >
          <span *ngIf="signupForm.controls.password.touched && signupForm.controls.password.errors && signupForm.controls.password.errors.required"
                class="signup-form-error-text">
            This field is required.
          </span>
        </div>
        <div class="signup-form-group">
          <input
            class="form-control"
            formControlName="password1"
            id="password1"
            placeholder="Retype Password"
            required
            type="password1"
          >
          <span *ngIf="signupForm.controls.password1.touched && signupForm.controls.password1.errors && signupForm.controls.password1.errors.required"
                class="signup-form-error-text">
            This field is required.
          </span>
        </div>
        <ui-alert *ngFor="let error of getFormErrors()" [text]="error" class="danger rounded-lg"></ui-alert>
        <a class="signup-form-help-text">Having trouble signing in?</a>
        <button [disabled]="!signupForm.valid" class="btn brand-main rounded-lg text-white hover-enabled !py-3"
                type="submit">
          {{ loading ? '' : 'Create Account' }}
          <ui-spinner *ngIf="loading" lineColor="white"></ui-spinner>
        </button>
      </form>
    </div>
    <div class="signup-form-divider">
        <span class="bg-brand-background z-50 px-4">
          Or <a [routerLink]="'/auth/login'" class="signup-form-divider-link">Sign In</a> with
        </span>
      <hr class="absolute w-full h-[3px] bg-brand-secondary-muted">
    </div>
    <button class="btn success-muted rounded-lg text-white hover-enabled !gap-4" type="submit">
      <fa-icon [icon]="googleIcon"></fa-icon>
      Google
    </button>
  </div>
</main>
