<div [ngClass]="['form-field', getFormFieldClass()]">
  <div class="form-field-label-wrapper">
    <label [for]="id" class="form-field-label">
      {{ label }} <span *ngIf="required" class="text-utility-danger">*</span>
    </label>
    <span *ngIf="subLabel" class="form-field-label-sub">{{ subLabel }}</span>
  </div>
  <ng-content></ng-content>
</div>
<div class="col-sm-2 form-group">
  <label for="amount">Amount</label>
  <input
    class="form-control"
    id="amount"
    name="amount"
    ngModel
    pattern="^[1-9]+[0-9]*$"
    required
    type="number"
  >
</div>
