<div class="class-schedule-content-manage-content">
  <div class="class-schedule-content-manage-content-header">
    <div class="class-schedule-content-manage-content-header-title">Manage Schedule</div>
    <button (click)="closeMenu()"
            class="class-schedule-content-manage-content-header-button hover-enabled secondary-muted">
      <fa-icon [icon]="closeIcon" class="w-4 h-4 flex justify-center items-center"></fa-icon>
    </button>
  </div>
  <div class="class-schedule-content-manage-content-body">
    <ui-card *ngFor="let courseTime of courseTimes"
             [color]="courseTime.course.color.toLowerCase()"
             [head]="courseTime.course.name ? courseTime.course.name : 'Untitled'"
             [leftIcon]="courseIcon"
             [rightIcon]="editIcon"
             sub="{{getWeekdayStr(courseTime)}} at {{ courseTime.startTime | time }}"
    ></ui-card>
  </div>
</div>
