<div class="schedule-widget">
  <div class="schedule-widget-header">
    <h3 class="schedule-widget-header-title">Today's Schedule</h3>
    <button class="btn secondary-muted hover-enabled rounded-lg">
      <fa-icon [icon]="cogIcon"></fa-icon>
      Manage Schedule
    </button>
  </div>
  <div class="schedule-widget-date">
    <button class="btn secondary-muted hover-enabled rounded-lg" (click)="decrementDate()">
      <fa-icon [icon]="chevronLeftIcon"></fa-icon>
    </button>
    <input type="date" class="schedule-widget-date-input btn secondary-muted" [value]="date.value" (change)="onDateChanged($event)">
    <button class="btn secondary-muted hover-enabled rounded-lg" (click)="incrementDate()">
      <fa-icon [icon]="chevronRightIcon"></fa-icon>
    </button>
  </div>
  <div class="schedule-widget-content">
    <div class="schedule-widget-courses" *ngIf="schedule.value">
      <div class="schedule-widget-course" *ngFor="let course of getCourseTimeObjects()">
        <div class="schedule-widget-course-head">
          <div class="schedule-widget-course-head-icon">
            <fa-icon [icon]="schoolIcon"></fa-icon>
          </div>
          <div class="schedule-widget-course-head-title"></div>
          <div class="schedule-widget-course-head-time"></div>
        </div>
        <div class="schedule-widget-course-content">

        </div>
      </div>
    </div>
  </div>
</div>
