<form (ngSubmit)="onSubmit(form)" [formGroup]="form" class="flex flex-col gap-4">
  <ng-container
    *ngFor="let field of fields"
    [ngSwitch]="field.type.kind"
  >
    <form-field
      *ngSwitchCase="'SCALAR'"
      [ngSwitch]="field.type.name"
      [attr.for]="'id_' + field.name"
      [label]="camelCaseToTitle(field.name)"
      [required]="field.type.kind === 'NON_NULL' ? 'true' : 'false'"
      [subLabel]="field.description || undefined"
    >
      <input
        *ngSwitchCase="'String'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-control"
        type="text"
      >
      <input
        *ngSwitchCase="'Date'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-control"
        type="date"
      >
      <input
        *ngSwitchCase="'Time'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-control"
        type="time"
      >
    </form-field>
    <form-field
      *ngSwitchCase="'NON_NULL'"
      [attr.for]="'id_' + field.name"
      [label]="camelCaseToTitle(field.name)"
      [required]="field.type.kind === 'NON_NULL' ? 'true' : 'false'"
      [ngSwitch]="field.type.ofType?.kind"
      [subLabel]="field.description || undefined"
    >
      <select
        *ngSwitchCase="'ENUM'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-select"
      >
        <option *ngFor="let option of getEnumValues(field.type.ofType?.name)" [value]="parseEnumVal(option.name)">
          {{ option.description | titlecase }}
        </option>
      </select>
      <select
        *ngSwitchCase="'OBJECT'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-select"
      >
        <option *ngFor="let option of getObjectValues(field.type.ofType?.name)" [value]="option.id">
          {{ option.name }}
        </option>
      </select>
      <input
        *ngIf="field.type.ofType?.name === 'Time'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-control"
        type="time"
      >
      <input
        *ngIf="field.type.ofType?.name === 'Date'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-control"
        type="date"
      >
      <input
        *ngIf="field.type.ofType?.name === 'String' && field.name !== 'weekday'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-control"
        type="text"
      >
      <select
        *ngIf="field.type.ofType?.name === 'String' && field.name === 'weekday'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-select"
        type="text"
        multiple
      >
        <option *ngFor="let option of getDaysOfWeek()" [value]="option">
          {{ option | titlecase }}
        </option>
      </select>
    </form-field>
    <form-field
      *ngSwitchCase="'OBJECT'"
      [attr.for]="'id_' + field.name"
      [label]="camelCaseToTitle(field.name)"
      [required]="'true'"
      [ngSwitch]="field.type.name"
      [subLabel]="field.description || undefined"
    >
      <select
        *ngSwitchCase="'CourseType'"
        [formControlName]="field.name"
        [id]="'id_' + field.name"
        [name]="field.name"
        [required]="field.type.kind === 'NON_NULL'"
        class="form-select"
      >
        <option *ngFor="let option of getObjectValues(field.type.name)" [value]="option.id">
          {{ option.name }}
        </option>
      </select>
    </form-field>
  </ng-container>
  <div class="modal-footer">
    <div (click)="appComponent.closeModal()" class="btn hover-enabled brand-background rounded-lg m-[3px]">Close</div>
    <button class="btn hover-enabled success rounded-lg m-[3px] !outline-0" type="submit" [disabled]="form.invalid">
      Submit
    </button>
  </div>
</form>

