<div (click)="onClick($event)"
     [ngClass]="['card-item hover-enabled', color, class, leftIcon ? '!pl-2.5' : '']" [ngStyle]="style ">
   <div
      [ngClass]="['card-item-left-icon', color.endsWith('-muted') ? color : color.concat('-muted')]" *ngIf="leftIcon">
      <fa-icon [icon]="leftIcon"
               class="w-[1.25rem] h-[1.25rem] flex items-center justify-center">
      </fa-icon>
   </div>
   <div class="card-item-text">
      <div class="card-item-head">
         {{ head }}
      </div>
      <div class="card-item-sub">
         {{ sub }}
      </div>
   </div>
   <div class="card-item-right-icon" *ngIf="rightIcon">
      <fa-icon [icon]="rightIcon"></fa-icon>
   </div>
</div>
