<div (click)="onClick($event)"
     [ngClass]="['card-item hover-enabled', color, class, leftIcon ? '!pl-2.5' : '']" [ngStyle]="style ">
  <div
    *ngIf="leftIcon" [ngClass]="['card-item-left-icon', color.endsWith('-muted') ? color : color.concat('-muted')]">
    <fa-icon [icon]="leftIcon"
             class="w-[1.25rem] h-[1.25rem] flex items-center justify-center">
    </fa-icon>
  </div>
  <div class="card-item-text">
    <div class="card-item-head">
      {{ head }}
    </div>
    <div class="card-item-sub">
      {{ sub }}
    </div>
  </div>
  <div *ngIf="rightIcon" class="card-item-right-icon">
    <fa-icon [icon]="rightIcon"></fa-icon>
  </div>
</div>
